@charset "utf-8";

#best_item ul li:hover .w_box{
    top: 0;
    transition: all 1s;
}

#link11{width: 100%;
    padding: 200px 0px 100px 0px;
}

#link1{padding-top: 200px;
    width: 100%;
    margin: auto;
}

#link1 ul{
    margin: auto;
    display: flex;
}

#link1 ul li{padding: 10px 10px 5px 10px; #f62f1a; text-align: center;}



/*자세히보기후버*/
#link1 ul li{
    overflow: hidden;
    position: relative;
    /*w_box포지션의 기준*/
}

.w_box{
    background-color: rgba(43, 42, 42, 0.5);
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fffff0;
}


#link1 ul li:hover .w_box{
    top: 0;
    transition: all 0.5s;
}


/*자세히보기 후버 끝*/




#link11{padding-top: 250px;
    margin: auto;
    background-image: url(./images/brandstory1.jpg);
  background-size: 100%;
background-repeat: no-repeat;
}

.pagead{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

#work{text-align: center; 
    width: calc(100% - 50px);
    margin: auto;
    padding-top: 150px;
    padding-bottom:150px;
}
    
    #card{padding-top: 150px;
color: #f62f1a;
}

#banner{padding-top: 200px;
color: #f62f1a; padding-bottom: 100px;
}
    .banner1{padding-top: 50px; 
        background-image: url(./images/banner1.jpg);
  background-size: 100%;
background-repeat: no-repeat;
width: 90%; margin: auto;
}

.banner2{padding-top: 50px; 
        background-image: url(./images/banner2.jpg);
  background-size: 100%;
background-repeat: no-repeat;
width: 90%; margin: auto;
}

.banner3{padding-top: 50px; 
        background-image: url(./images/banner3.jpg);
  background-size: 100%;
background-repeat: no-repeat;
width: 90%; margin: auto;
}

.banner4{padding-top: 50px; 
        background-image: url(./images/banner4.jpg);
  background-size: 100%;
background-repeat: no-repeat;
width: 90%; margin: auto;}


#slide{margin: auto; overflow: hidden; position: relative;}
#slide li{position: absolute; top: 0; left: 0; transition: all 1s;}
    
#footer{width: 100%;

    margin: 0 auto;
    border-top: 2px solid #bdbdbd;
    font-weight: 300;
    color: #bdbdbd;
       
      
}

.footerinner{padding: 30px;
    }
